
:root {
  font-family: 'Montserrat Alternates', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--purple1);
  background-color: var(--pink1);
  --purple1: #321051;
  --purple2: #6c2577;
  --beige: #ffe2f1;
  --pink1: #efbbcc;
  --pink2: #f06292;
  --darkPink1: #ad1457;
  --darkPink2: #880e4f;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

button {
  width: 80px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--purple1);
  opacity: 90%;
  border: solid 1px transparent;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--beige);
  
}

button:hover{
  background-color: var(--beige);
  color: var(--darkPink2);
  border: solid 1px var(--darkPink2);
}

button:focus,
button:focus-visible {
  outline: 1px auto var(--darkPink2);
}

/* index.css */
@media (max-width: 480px) {
  #root {
    padding: 1rem; /* Smaller padding for mobile */
  }
  
  .pin {
    padding: 1.5rem; /* Shrink the container padding too */
  }

  .pin h1 {
    font-size: 32px; /* Prevent the giant header from pushing the width */
  }
}