@import '@mantine/core/styles/PinInput';


.container{
    max-width: 1200px;
    width:fit-content;
    justify-items: center;
}

.floating-bit{
    position: 'absolute';
    animation: float 15s infinite linear;
    z-index: 0;
    pointer-events: none;
}

.card{
    height: 200px;
    max-width: 400px;
    padding: 2rem;
    border-radius: 2.5rem;
    background-color: rgb(252, 224, 229);
    box-shadow: 1rem 0.5rem 40px rgba(106, 74, 74, 0.366);
    opacity: 80%;
    align-content: center;
    animation: fadeIn 2s;
}
.card Stack{
    align-items: center;
    justify-content: space-between;
}
.card p{
    margin: 2rem;
    width: 300px;
    height: min-content;
    font-weight: 800;
    font-size: xx-large;
}

.card button{
    background-color: palevioletred;
    outline: none;
    border-color: rgb(156, 81, 106);
}

.card button:hover{
    background-color: rgb(171, 75, 105);
    outline: none;
    border-color: rgb(156, 81, 106);
}


.pin div{
    display: flex;
    gap: 20px;
    height: 80px;
    width: 80px;
}

.pin{
    animation: boom 2s;
}

.pin input{
    width:inherit;
    height: inherit;
    border-radius: 5px;
    background-color: rgba(255, 240, 246, 0.501);
    font-size: xx-large;
    color: rgb(168, 1, 85);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pin input::after{
    outline: 2px solid green;
}

.fadeIn{
    animation: fadeIn 2s;
}

.fadeOut{
    animation: fadeIn 1s ease-in forwards; 
    transition: fadeOut 1s ease-in forwards;
    
}

.popQuestion{
    position: relative;
}



.yes-no{
    width: 100px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-self: center;
} 

.yes-no button{
    background-color: palevioletred;
    outline: none;
    border-color: rgb(156, 81, 106);
}

.yes-no button:hover{
    background-color: rgb(171, 75, 105);
    outline: none;
    border-color: rgb(156, 81, 106);
}

.heart-pump{
    font-size: 70px;
    animation: pump 1.2s infinite;
    
}



@keyframes pump{
    0%, 100% {transform: scale(1.1)};
    25% {transform: scale(1.1)}
    50% {transform: scale(1)};
    75% {transform: scale(1.1)};
    

}


@keyframes float {
    0% {
        transform: translateY(100vh) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-10vh) rotate(360deg);
        opacity: 0;
    }
}






@keyframes fadeIn {
  0% { opacity: 0; scale: 200%;}
  100% { opacity: 0.8; scale: 100%;}
}

@keyframes fadeOut {
  0% { opacity: 1; transform: translateY(0px);}
  100% { opacity: 0; transform: translateY(-20px)}
}

@keyframes boom{
    from {
    transform: translateY(100%);
    opacity: 30%
  }
  to {
    transform: translateY(0%);
    opacity: 100%;
  }
}